<app-header></app-header>
<main>
    <ul id="users">
        @for (user of users; track user.id) 
        {
            <li>
                <app-user [avatar]="user.avatar" [name]="user.name" [id]="user.id" [selected]="user.id === selectedUserId()"
                (select)="selectUser($event)"/>
            </li>
        }
    </ul>

    @if (selectedUserId() !== null && selectedUserId() !== undefined )
    {
        <app-tasks [name]="selectedUserName()" [userId]="selectedUserId()!"/>
    }
    @else 
    {
        <h2>Please select a user to view their tasks.</h2>
    }
</main>